<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/products", class: "navbar-brand" do %>
    <%= image_tag "logo.png"%>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><strong>
        <%= link_to "Products", "/products", class: "nav-link" %>
      </strong></li>
      <li class="nav-item"><strong>
        <%= link_to "Add Product", "/products/new", class: "nav-link"  %>
      </strong></li>
      <li class="nav-item"><strong>
        <%= link_to "My Rentals", "/rentals", class: "nav-link"  %>
      </strong></li>
      <% unless current_user %>
       <li class="nav-item"><strong>
        <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
        </strong></li>
        <li class="nav-item"><strong>
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </strong></li>
      <% end %>
      <% if current_user %>
      <li class="nav-item"><strong>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link"  %>
      </strong></li>
      <% end %>
      <!-- <li class="nav-item">
        <%= link_to "/products", class: "avatar dropdown-toggle" do %>
          <%= image_tag "logo.png"%>
        <% end %>
      </li>
 -->

    </ul>
  </div>
</div>
