<div class="card-deck">
  <% @clothes.each do |cloth| %>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= cloth.description %></h5>
      <p class="card-text"><%= cloth.category %></p>
      <p class="card-text"><%= cloth.status %></p>
      <p class="card-text"><%= cloth.price %></p>
    </div>
      <%= link_to 'Show', clothe %>
      <%= link_to 'Edit', edit_clothe_path(cloth) %>
      <%= link_to 'Delete', clothe, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  <% end %>
</div>

