<div class="form-container text-center">
  <%= simple_form_for @product do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
   <%= f.input :description %>
        <%= f.input :price, as: :string, placeholder: "R$" %>
        <%= f.input :photo, as: :file %>
        Categories  :
        <%= f.select :category, collection: ['PANTS', 'SHORTS', 'T-SHIRTS', 'BLOUSES', 'JACKETS', 'SHOES', 'SUIT', 'DRESS', 'SKIRT'].sort %>
        <%= f.submit "Save", class: "btn-save" %>
  <% end %>
</div>

